extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  div(id = "secondaryColor" style = "display:hidden" color = "" + pageColors.secondary)
  nav(id="navApp" style = "background:" + pageColors.primary)
    a(href="/login")
      img#logo(src="/assets/img/color_Logo.png", alt="logo")
    .navlink
      a(href="/logout") Log out
    #title
      h3
       span Match Level Maker
  section#makeLevel
    form#levelForm(class="levelForm", name="levelForm", action="/maker", method="POST")
      div(style = "float:left")
        div(class = "slider")
          span(class = "sliderText" style = "Background: red") R
          input#red(type='range', value='90', max="255")
        div(class = "slider")
          span(class = "sliderText" style = "Background: green") G
          input#green(type='range', value='90', max="255")
        div(class = "slider")
          span(class = "sliderText" style = "Background: blue") B
          input#blue(type='range', value='90', max="255")
        input(id = "security" type="hidden",name="_csrf",value="#{csrfToken}")
        a#addColor(class="addColor", href="#") Add color to Level
      div(id = "colorZone")
  section#currentLevel
    div.blank
      h3.blankTitle Add colors to start making a level
  section#makeLevelButton
    a#addLevel(class="button", href="#") Add Level
  div#userName #{user}'s Levels
  section#levels
    if !domos || domos.length == 0
      div.domo
        h3.emptyDomo No Levels yet
    else
      each val in domos
        div.level
          h3.domoName Name: #{val.levelArray}
  #domoMessage
    img#speech(src="/assets/img/speech.png", alt="speech box")
    h3
      span#errorMessage
    img#domo(src="assets/img/domo.png", alt="domo")
block scripts
        script(src="/assets/maker.js")