extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    a(href="/login")
      img#logo(src="/assets/img/color_Logo.png", alt="logo")
    .navlink
      a(href="/login") Login
    .navlink
      a(href="/signup") Sign up
  section#login
    section.container
        .login
          h1 Login to Match Level Maker
          form#loginForm(class="mainForm", name="loginForm", action="/login", method="POST")
            input#user(type="text", name="username", placeholder="username")
            input#pass(type="password", name="pass", placeholder="password")
            input(type="hidden",name="_csrf",value="#{csrfToken}")
            a#loginSubmit(class="button green", href="#") Sign in
          a(href="/play" , class="button green") Or go play Match!
  #domoMessage
    img#speech(src="/assets/img/speech.png", alt="speech box")
    h3
      span#errorMessage Wrong username or password
    img#ross(src="assets/img/ross.png", alt="domo")
block scripts
    script(src="/assets/client.js")